html {
    scroll-behavior: smooth
}


@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

@mixin fira-regular {
    font-family: 'Fira Mono', monospace;
    color: #ffffff;
}

//media queries

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }


body {
    font-size: 19.2px;
    background: #0b410b ; //#0f150f;
    @include fira-regular()
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes changeColor {
    from {
        color: #364e36;
    }
    to {
        color: #58e953;
    }
}

@keyframes smile {
    from {
        color: #ff2828;
    }
    to {
        color: #831111;
    }
}

.lenguage {
    padding: 2rem;
    position: absolute;
    right: 0;

    a {
        text-decoration: none;
    }
}

.contenedor {

   margin: 60px auto;
   padding: 40px;
   max-width: 866px;
   border-radius: 50px;
   border-radius: 50px;
   background: #0b410b;
   box-shadow:  25px 25px 50px #093709,
             -25px -25px 50px #0d4b0d;

   @include for-phone-only() {
       margin: 20px auto;
       max-width: none;
       width: 90%;
   }

  

    .presentacion {
       
        

        .avatar {
            width: 300px;
            margin-bottom: 58px;

            
    
            img {

                transition: box-shadow ease 200ms;
                border-radius: 22px;        

                // border-radius: 30px;
                // background: linear-gradient(145deg, #101610, #0e130e);
                //  box-shadow:  27px 27px 54px #080c08, -27px -27px 54px #161e16;
            }

            img:hover {
           
                background: linear-gradient(45deg, #0c460c, #0a3b0a);
                box-shadow:  5px -5px 14px #093709,
                             -5px 5px 14px #0d4b0d;
            }
        }
    }

    p {
        margin: 60px 0;
    }

    a {
        color: #58e953;
    }

    .bright {
        animation: changeColor 8s infinite alternate;
    }

    .smile {
        animation: smile 5s infinite alternate;
    }

    .txt {
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
        -webkit-background-clip: text;
        color: transparent;
        filter: grayscale(100%);
        transition: filter 600ms;
        font-weight: bold;

    }

    .txt:hover {
        filter: grayscale(0%);
    }

    

}

