html {
    scroll-behavior: smooth
}


@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

@mixin fira-regular {
    font-family: 'Fira Mono', monospace;
    color: #ffffff;
}

//media queries

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }


body {
    font-size: 19.2px;
    background: #0f150f;
    @include fira-regular()
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@keyframes changeColor {
    from {
        color: #364e36;
    }
    to {
        color: #58e953;
    }
}

@keyframes smile {
    from {
        color: #ff2828;
    }
    to {
        color: #831111;
    }
}

.lenguage {
    padding: 2rem;
    position: absolute;
    right: 0;

    a {
        text-decoration: none;
    }
}

.contenedor {

   margin: 60px;
   max-width: 866px;

   @include for-phone-only() {
       margin: 20px auto;
       max-width: none;
       width: 90%;
   }

  

    .presentacion {
       
        

        .avatar {
            width: 300px;
            margin-bottom: 58px;

            
    
            img {
                border-radius: 30px;
                background: linear-gradient(145deg, #101610, #0e130e);
                box-shadow:  27px 27px 54px #080c08, -27px -27px 54px #161e16;
            }
        }
    }

    p {
        margin: 60px 0;
    }

    a {
        color: #58e953;
    }

    span {
        animation: changeColor 8s infinite alternate;
    }

    .smile {
        animation: smile 5s infinite alternate;
    }

    

}

